/* 구매 목록, 구매 상품 */
.image {
    vertical-align: middle;
    margin: auto 0px;
}

.img {
    background-color: red;
    width: 90px;
    height: 90px;
}

.text {
    margin: 0;
    vertical-align: middle;
    width: 100%;
}

article {
    display: flex;
    font-weight: 700;
    width: 100%;
}

.up {
    width: 100%;
    text-align: left;
}

.icon {
    width: 100%;
    text-align: right;
    color: rgb(186, 186, 186);

    font-weight: 700;
    display: block;
}

.icon i {
    font-size: 14px;
}

.subtitle {
    font-size: 12px;
    color: rgb(186, 186, 186);

    font-weight: 100;
    width: 90%;
    line-height: 15px;
    word-break: keep-all;
    margin: 3px 0px;
    min-height: 30px;
}

.price {
    font-size: 12px;
    margin-top: 3px;
    display: flex;
}

.price>span {
    display: flex;
    width: 100%;
}

#price i {
    font-size: 17px;
}

#price {
    display: flex;
}

#price span {
    width: 50%;
    display: block;
}

#price>span {
    text-align: left;
}

#price>span+span {
    text-align: right;
    margin-right: 30px;
}

.icon>i+span+i {
    margin-left: 13px;
}

.icon span {
    margin-left: 3px;
}

#product_header {
    margin: auto 0px;
    vertical-align: middle;
    width: 100%;
    text-align: left;
}

#product_header>div {
    font-size: large;
    color: gray;
}

#image {
    background-color: red;
    width: 90px;
    height: 90px;
    margin: 0px 10px 0px 15px;
}

#product_content {
    padding: 20px 30px;
}

#purchase_form {
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 100px;
    left: 0;
}

#purchase_submit {
    width: 80%;
    padding: 10px;
    margin: auto auto;
    background-color: #0061FF;
    color: white;
    font-weight: 700;

    border-radius: 10px;
    border: none;
    text-align: center;
    box-shadow: 0px 0px 10px gray;
}
#coin_market_fixed_bottom {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}
.market_btn {
    border-radius: 20px;
    padding: 20px 0px;
    width: 94%;
    max-width: 500px;
    background-color: #5539FB;
    text-align: center;
    color: white;
    margin: 0px auto 15px auto;
}